:root {
  /* ## Colors */
  /* ### Primary */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  /* ### Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  /* ## Typography */
  /* ### Body Copy */
  --font-size: 13px;
  /* ### Fonts */
--family: 'Barlow Semi Condensed', sans-serif;
--font-weight-semibold: 500;
--font-weight-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*
  margin: 0;
  padding: 0;
  */
}

body {
  margin: 1.5rem; /* spazio esterno attorno al body, utile per non far aderire i contenuti ai bordi */
  background-color: var(--white);
  font-family: var(--family);
  font-size: var(--font-size); 
  min-height: 100vh; /* altezza minima pari all’intera finestra del browser */
  display: grid; /* il body diventa un contenitore grid */
  place-content: center; /* centra il contenuto della griglia sia in verticale che in orizzontale */
  place-items: center; /* centra gli elementi figli della griglia */
  gap: 3.5rem; /* spazio tra gli elementi della griglia */
  line-height: 1.5; /* interlinea del testo per migliorare la leggibilità */
  -webkit-font-smoothing: antialiased; /* migliora la resa dei font su browser WebKit (Safari, Chrome) */
}
